.test-takers .left-bar {
   padding: 20px;
   background: #fff;
   margin-top: 90px;
   overflow: visible;
}

.test-takers .takers-list {
   padding: 20px;
}

.error-data {
   display: inline-block;
   background: #D21243;
   padding: 15px;
   color: #fff;
}

@media screen and (min-width:750px) {
   .test-takers .left-bar {
      margin-top: 100px;
      padding-top: 40px;
      width: 100%;
      box-sizing: border-box;
      position: sticky;
      top: 100px;
      z-index: 50;
   }
   .test-takers .left-bar form {
      display: flex;
      justify-content: space-between;
      overflow: visible;
   }
   .test-takers .left-bar form>* {
      margin-right: 30px;
   }
   .test-takers .left-bar form .form-button {
      margin-bottom: 15px;
   }
   .test-takers .left-bar form .form-button[type=submit] {
      margin-right: 0;
   }
}

@media screen and (min-width:1025px) {
   .test-takers .left-bar {
      display: inline-block;
      position: fixed;
      top: 0;
      width: 350px;
      height: 100%;
      min-height: 100vh;
      min-height: calc(100vh - 450px);
   }
   .test-takers .takers-list {
      display: inline-block;
      margin-left: 350px;
      margin-top: 100px;
      padding-top: 40px;
      width: calc(100vw - 350px);
      box-sizing: border-box;
      min-height: 100vh;
      min-height: calc(100vh - 450px);
   }
   .test-takers .left-bar form {
      display: inline-block;
      overflow: hidden;
   }
}
