.form-button {
   float: right;
   width: 45%;
   min-width: 100px;
   max-width: 250px;
   margin-top: 20px;
   box-sizing: border-box;
   padding: 15px;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   background: #0079C1;
   border: 2px solid #0079C1;
   border-radius: 10px;
   transition: 1s;
}

.form-button[type=reset] {
   background: transparent;
   color: #0079C1;
   margin-right: 30px;
   float: left;
}

.form-button:hover {
   background: transparent;
   color: #0079C1;
}

.form-button[type=reset]:hover {
   background: #0079C1;
   color: #fff;
}
